* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.15s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #7167ff;
}

body {
    background-image: linear-gradient( to bottom right, #acff9f, #f48585);
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #ff0000;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #78d0b7;
}

.theme-toggler.active::before {
    background-color: #9591ff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}



.calculator {
    background-color: #f4fe66c8;
}

.calculator #display {
    color: #000000;
}

.calculator button#clear {
    background-color: #2f02f7ce;
    color: #000000;
}

.calculator button.btn-number {
    background-color: #ff6a00;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #86fe4e;
    color: #000000;
  }
  
  .calculator button.btn-equal {
    background-color: #75ffa7;
    color: #453cf9;
  }



  .calculator.dark {
    background-color: #071115;
  }

  .calculator.dark #display {
    color: #ffe1e1;
  }

  .calculator.dark button#clear {
    background-color: #b80834;
    color: #000000;
  }

  .calculator.dark button.btn-number {
    background-color: #01adfd;
    color: #000000;
  }

  .calculator.dark button.btn-operator {
    background-color: #672e8f;
    color: #ffffff;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #299230;
    color: #080808;
  }